.vs/
sprinterBoardSPA/clientApp/src/environments/environment.ts
sprinterBoardSPA/appsettings.json
sprinterBoardSPA/obj/
sprinterBoardSPA/bin/
sprinterBoardDAL/bin/
sprinterBoardDAL/obj
sprinterBoardDTO/obj
sprinterBoardDTO/bin
sprinterBoardSPA/wwwroot/
