<div class="row">
	<div class="col-md-6">

		<div class="card">

			<div class="card-header bg-white">
				<h4 class="card-title">Create your account</h4>
			</div>

			<div class="card-block">

				<form #registerForm="ngForm" (ngSubmit)="registerUser()">

          <div class="form-group">
						<label for="email">Email</label>
						<input id="email" type="text" required name="email"  class="form-control" placeholder="Email"   [(ngModel)]="user.email">
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input id="password" type="password" required name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password">
					</div>
         
          
  
				<div class="form-group">
						<button type="submit" class="btn btn-primary" >Sign Up</button>
					</div>
				</form>
			</div>

		</div>
	</div>
  </div>
