<div class = "container">
  <form #detailsForm="ngForm" (submit)="save()" >
     <div class = "form-group">
        <label for = "name">Name</label>
        <input type = "text" maxlength="" class = "form-control" id = "name" required
           [(ngModel)] = "model.Name" name = "name">
     </div>
     
     <div class = "form-group">
        <label for = "description">Description</label>
        <textarea rows="3" maxlength="200" type = "text" class = "form-control" id = "description"
           [(ngModel)] = "model.Description" name = "description">
        </textarea>
     </div>
     <div class="form-group">
        <button  type="submit" class="btn btn-primary">
            Save
        </button>
        <a style="margin-left:5px;" (click)="cancel()"  class="btn btn-primary" [routerLink]="['/tasks/']" >
            Cancel
        </a>
     </div>
  </form>
  
</div>
